/*Para la pantalla más pequeña es de 320px */ 
*{
  margin: 0%;
  padding: 0%;
}
body {
  background-color: white;
}
.header-top li, a{
  text-decoration: none;
  font-size: 20px;
}
.header-bottom{
  text-align: center;
}
.header-bottom h1{
  font-size: 40px;
}
.header-bottom p{
  font-size: 15px;
}




/*Responsive para todo tipo de pantallas*/
/*Para celulares*/
@media(min-width:375px){
  .header-bottom h1{
    font-size: 45px;
  }
}
@media(min-width: 425px){
  
}

/*Para Tablet*/
@media(min-width: 768px){
  
}
/*Para computadoras*/
@media(min-width: 1024px){
  
}
@media(min-width: 1440px){
  
}
@media(min-width: 2560px){
  
}